@model List<ResultReservatinDto>
@{
    ViewData["Title"] = "GetReservations";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Rezervasyon Listesi</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>İsim</th>
                                        <th>Soyisim</th>
                                        <th>Email</th>
                                        <th>Telefon</th>
                                        <th>Yaş</th>
                                        <th>Ehliyet Tarihi</th>
                                        <th>Araç ID</th>
                                        <th>Alınacak Lokasyon</th>
                                        <th>Bırakılacak Lokasyon</th>
                                        <th>Rezervasyon Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Name</td>
                                            <td>@item.Surname</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Age</td>
                                            <td>@item.DriverLicenseYear</td>
                                            <td>@item.CarID</td>
                                            <td>@item.PickUpLocation</td>
                                            <td>@item.DropOffLocation</td>
                                            <td>@item.ReservationDate</td>             
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

